*{
    margin: 0;
    padding: 0;
}
header {
    display: block;
    height: 80px;
    border-bottom: 1px solid #d3d4de;
    background: #ffde2f;
    box-shadow: 0 2px 8px 1px rgb(0 0 0 / 20%);
  }
  .topheader{    
    text-align: center;
    margin: 0;   
    top: 50%;
    left: 50%;
}
h1{
    padding: 20px;
}
#left{
    float:left;
    background:Red;
    width:25%;
    height:280px;
    padding: 40px;
}
