*{
    margin: 0;
    padding: 0;
}
header {
    display: block;
    height: 80px;
    border-bottom: 1px solid #d3d4de;
    background: #ffde2f;
    box-shadow: 0 2px 8px 1px rgb(0 0 0 / 20%);
  }
  .topheader{    
    text-align: center;
    margin: 0;   
    top: 50%;
    left: 50%;
}
h1{
    padding: 20px;
}
#login-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  form {
    width: 320px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #45a049;
  }